@import "../Variables.scss";

// ------------
// Sidebar
// ------------
.Sidebar {
  background-color: #ffffff;
  grid-area: Sidebar;
  padding-top: 1.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// ------------
// logo-wrapper
// ------------

.logo {
  $size: 165px;
  height: $size;
  width: $size;
}

// ------------
// index
// ------------

.index {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  color: $primary-gray;
  width: 100%;

  li {
    display: flex;

    cursor: pointer;
    padding: 16px 14px;
    transition: all 250ms ease;
  }

  li:hover {
    background-color: $hover-background;
    color: $primary-gray;
    // padding: 22px 14px;
  }
}

.index-icon {
  align-self: flex-end;
  margin-left: 12px;
}

.index-icon span {
  font-size: 18px;
}

.index-text {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
  padding-bottom: 2px;

  align-self: flex-start;
}

.active {
  background-color: $primary-blue;
  color: white;
}
