@import "../Variables.scss";

// ------------
// Sidebar
// ------------

.Sidebar {
  background-color: #ffffff;
  grid-area: Sidebar;
  padding-top: 1.5em;
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sidebar-close {
  width: 80px;
}

// ------------
// logo-wrapper
// ------------

.logo {
  $size: 13em;
  height: $size;
  width: $size;
  margin-right: 6px;
}

.logo-close {
  $size: 5em;
  height: $size;
  width: $size;
}

// ------------
// index
// ------------

.index {
  list-style: none;
  padding: 0;
  margin-top: 3em;
  color: $primary-gray;
  width: 100%;

  li {
    display: flex;

    cursor: pointer;
    padding: 1em 0.8em;
    transition: background-color 250ms ease;
  }
}

.not-active:hover {
  background-color: $hover-background;
  color: $primary-gray;
}

.li-close {
  justify-content: center;
}

.index-icon {
  align-self: flex-end;
  margin-left: 12px;
}

.index-icon-close {
  margin-left: 0;
}

.index-icon span {
  font-size: 18px;
}

.index-text {
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;
  padding-bottom: 2px;

  align-self: flex-start;
}

.active {
  background-color: $primary-blue;
  color: white;
}

.active:hover {
  background-color: #0082d3;
}
