@import "../Variables.scss";

$avatar-size: 42px;
$menu-size: 42px;
// ------------
// Header
// ------------

.Header {
  background-color: #fdfdfe;
  grid-area: Header;

  display: grid;
  position: relative;
  grid-template-columns: $menu-size minmax(150px, 1fr) minmax(90px, auto) $avatar-size;
  column-gap: 1em;
  padding: 1em;
  align-items: center;
}

// ------------
// menu-icon
// ------------

.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $menu-size;
  height: $menu-size;
  position: relative;
  cursor: pointer;
}

.hamburger-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 236, 236, 0.44);
  border-radius: 25px;
  transform: scaleX(0) scaleY(0);
  transition: transform 150ms ease-in;
}

.hamburger-menu:hover::before {
  transform: scaleX(1) scaleY(1);
}

// ------------
// searchbar
// ------------

.searchbar {
  position: relative;
  display: flex;
}

.search-icon {
  position: absolute;
  align-self: center;
  margin-left: 1.25em;
  font-size: 16px;

  transition: color 250ms ease;
}

.searchbar-input {
  background-color: $background-gray;
  height: 45px;
  border-radius: 25px;
  border: none;
  width: 100%;
  padding-left: 3em;
  padding-bottom: 1px;
  outline: none;

  transition: box-shadow 250ms ease;
}

.searchbar-input:hover {
  box-shadow: 1px 2px 4px -1px rgb(206, 204, 204);
}

.searchbar-input:focus {
  box-shadow: 1px 2px 4px -1px rgb(206, 204, 204);

  & + span {
    color: $secondary-gray;
  }
}

// ------------
// account-info
// ------------

.account-info {
  text-align: right;
}

.name {
  font-weight: 700;
}

// ------------
// avatar
// ------------

.avatar {
  height: $avatar-size;
  width: $avatar-size;
  min-width: $avatar-size;
  background-color: $primary-orange;
  color: white;
  font-size: 22px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.avatar:hover {
  opacity: 0.9;
}

// ------------
// avatar-menu
// ------------

.avatar-menu {
  position: absolute;
  right: 2em;
  bottom: -2.5em;
  background-color: $background-gray;
  box-shadow: 1px 2px 4px rgb(156, 156, 156);

  ul {
    list-style: none;
    padding: 0;
  }

  li:hover {
    background-color: $hover-background;
  }

  button {
    border: 0;
    width: 100%;
    height: 100%;
    padding: 0.4em 0.7em;
    cursor: pointer;
  }
}
