// ------------
// Header
// ------------

.Header {
  background-color: #fdfdfe;
  grid-area: Header;

  display: grid;
  grid-template-columns: 32px minmax(150px, 1fr) minmax(90px, auto) 49px;
  column-gap: 1em;

  padding: 1em;
  align-items: center;
}

// ------------
// menu-icon
// ------------

.hamburger-menu {
  display: flex;
  align-items: center;
  justify-content: center;

  // span {
  //   font-size: 28px;
  // }
}

// ------------
// searchbar
// ------------

.searchbar {
  background-color: #f0f0f1;
  height: 45px;
  border-radius: 25px;

  display: flex;
  align-items: center;
}

.search-icon {
  margin-left: 20px;

  font-size: 16px;
}

.placeholder-text {
  margin-left: 10px;

  color: #9c9c9c;
  padding-bottom: 2px;
}

// ------------
// account-info
// ------------

.account-info {
  text-align: right;
}

.name {
  font-weight: 700;
}

// ------------
// avatar
// ------------

.avatar {
  height: 49px;
  width: 49px;
  min-width: 49px;
  background-color: #ff9600;
  color: white;
  font-size: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}
