// ------------
// primary colors
// ------------

$primary-gray: #5a5a5a;
$primary-blue: #06a0ff;
$primary-orange: #ff9600;

// ------------
// secondary colors
// ------------

$secondary-gray: #9c9c9c;

// ------------
// background colors
// ------------

$background-main: #f5f7fb;
$background-gray: #f0f0f1;

// ------------
// hover colors
// ------------

$hover-background: rgba(126, 126, 126, 0.1);
