@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
// @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fb;
  min-height: 100vh;
}

.App {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 85px auto;
  grid-template-areas:
    "Sidebar Header"
    "Sidebar Main";
}

main {
  grid-area: Main;
}

.hover {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 250ms ease;
}

@media (min-width: 601px) {
  .hover:hover {
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 600px) {
  .App {
    grid-template-areas:
      "Header Header"
      "Main Main"
      "Sidebar Sidebar";
  }
}
