@import "./variables.module.scss";

$avatar-size: 2.6rem;
$menu-size: 2.6em;

// ------------
// Header
// ------------

.Header {
  background-color: #fdfdfe;
  grid-area: Header;

  display: grid;
  position: relative;
  grid-template-columns: $menu-size minmax(150px, 1fr) minmax(90px, auto) $avatar-size;
  column-gap: 1em;
  padding: 1em;
  align-items: center;
}

// ------------
// menu-icon
// ------------

.hamburger {
  display: flex;
  align-items: center;
  justify-content: center;

  width: $menu-size;
  height: $menu-size;
  position: relative;
  cursor: pointer;
}

.hamburger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $hover-background;
  border-radius: 25px;
  transform: scaleX(0) scaleY(0);
  transition: transform 150ms ease-in;
}

.hamburger:hover::before {
  transform: scaleX(1) scaleY(1);
}

// ------------
// searchbar
// ------------

.searchbar {
  position: relative;
  display: flex;
}

.search__icon {
  position: absolute;
  align-self: center;
  margin-left: 1.25em;
  font-size: 1em;

  transition: color 250ms ease;
}

// ------------
// searchbar-input
// ------------

.input {
  background-color: $background-gray;
  height: 45px;
  border-radius: 25px;
  border: none;
  width: 100%;
  padding-left: 3em;
  padding-bottom: 1px;
  outline: none;

  transition: box-shadow 250ms ease;
}

.input:hover {
  box-shadow: 1px 2px 4px -1px rgb(206, 204, 204);
}

.input:focus {
  box-shadow: 1px 2px 4px -1px rgb(206, 204, 204);

  & + span {
    color: $secondary-gray;
  }
}

// ------------
// search-content
// ------------

.search__content {
  position: absolute;
  margin-left: 2em;
  top: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $background-gray;
}

.search__content a {
  padding: 0.5em;
  text-decoration: none;
  color: $primary-gray;
  z-index: 11;
}

.search__content a:hover {
  background-color: $hover-background;
}

// ------------
// heading
// ------------

.heading {
  font-size: 1.3em;
  color: $primary-gray;
}

.heading::after {
  content: "JAMIIE";
  font-weight: 700;
  color: $primary-blue;
}

// ------------
// account-info
// ------------

.account__info {
  text-align: right;
}

.name {
  font-weight: 700;
}

// ------------
// avatar
// ------------

.avatar {
  height: $avatar-size;
  width: $avatar-size;
  min-width: $avatar-size;
  background-color: $primary-orange;
  color: white;
  font-size: 1.3em;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
}

.avatar:hover {
  opacity: 0.8;
}

// ------------
// media queries
// ------------

@media (max-width: 900px) {
  .Header {
    column-gap: 0.5em;
    padding: 0.5em;
    padding-left: 0px;

    font-size: 0.9em;
  }
  .hamburger {
    width: $menu-size;
    height: $menu-size;
  }
  .avatar {
    $avatar-size2: 2.2em;

    height: $avatar-size2;
    width: $avatar-size2;
    min-width: $avatar-size2;
  }
}

@media (max-width: 600px) {
  .hamburger {
    display: none;
  }

  .heading {
    display: none;
  }

  .Header {
    grid-template-columns: minmax(90px, auto) $avatar-size;
  }
}
