@import "./variables.module.scss";

// ------------
// root class
// ------------

.Login {
  background: linear-gradient(90deg, #c0d5ff 0%, #e7dbff 100%);
  // background-size: 400% 400%;
  width: 100%;
  height: 100vh;
  overflow: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

// ------------
// login card
// ------------

.card {
  background-color: white;
  width: 95%;
  max-width: 30em;
  // height: 30em;
  margin: 2em 0;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.25);
  color: $primary-card-gray;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

// ------------
// title
// ------------

.heading {
  margin-top: 0.2em;
  font-weight: 700;
  font-size: 1.8em;
  display: flex;
  align-items: center;
}

.heading::before,
.heading::after {
  content: "";
  flex: 1;
  height: 5px;
  background-color: $background-gray;
}

.heading::before {
  margin-right: 1em;
}

.heading::after {
  margin-left: 1em;
}

.subheading {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 2.5em;
  font-size: 0.8em;
}

// ------------
// wrong input
// ------------

.wrong {
  color: $primary-red;
  background-color: $background-red;
  border: 1px solid $primary-red;
  position: relative;
  padding: 0;
  opacity: 0;
  margin-bottom: 1em;
  height: 0px;
  transition: height 250ms ease, padding 250ms ease, opacity 250ms ease;

  display: flex;
  align-items: center;

  span {
    padding-right: 0.5em;
    // font-size: 1em;
  }
}

.wrongShow {
  opacity: 1;
  height: 50px;
  padding: 1em;
}

.doubleWrong {
  animation: doubleWrong 150ms linear 0ms 3;
  // animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes doubleWrong {
  25% {
    left: -5px;
  }
  50% {
    left: 0;
  }
  75% {
    right: -5px;
  }
  100% {
    right: 0;
  }
}

// ------------
// input container
// ------------

.container {
  margin: 0.5em 0;
  position: relative;
  height: 50px;
}

.input {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
  border-bottom: 1px solid $primary-card-gray;
}

// ------------
// login label
// ------------

.label {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  pointer-events: none;
}

.label::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: $primary-blue;
  width: 0%;

  transition: width 250ms ease;
}

// ------------
// span
// ------------

.username {
  font-size: 1em;
  position: absolute;
  bottom: 5px;
  left: 1px;
  transition: bottom 250ms ease, color 250ms ease;
}

// ------------
// input animation
// ------------

.input:focus + .label::after,
.input:valid + .label::after,
.input:-webkit-autofill + .label::after {
  width: 100%;
}

.input:focus + .label .username,
.input:valid + .label .username,
.input:-webkit-autofill + .label .username {
  bottom: 30px;
  color: $primary-blue;
}

// ------------
// forgot password
// ------------

.forgot {
  margin: 1em 0;
  outline: none;
  padding: 0;
  align-self: flex-end;
  color: $primary-blue;
  background: none;
  border: none;
  position: relative;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
}

.forgot::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  // ------------
  background-color: $primary-blue;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.forgot:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.forgot:active,
.forgot:focus {
  color: $primary-gray;
}

.forgot:active::after,
.forgot:focus::after {
  background-color: $primary-gray;
  transform: scaleX(1);
  transform-origin: left;
}

// ------------
// login button
// ------------

.button {
  border: 2px solid $primary-blue;
  position: relative;
  padding: 0.5em 0;
  outline: none;
  color: white;
  background-color: $primary-blue;
  width: 50%;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.3em;
  align-self: center;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease, border 250ms ease;
}

.button:hover,
.button:focus {
  background-color: white;
  color: $primary-blue;
  border: 2px solid $primary-blue;
}

.button:active {
  background-color: $primary-blue;
  color: white;
}

.spinner {
  margin: 2.11em;
  $size: 50px;
  height: $size;
  width: $size;
  align-self: center;
  border-radius: 24px;
  border: 5px solid $background-gray;
  border-top: 5px solid $primary-blue;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
