@import "./variables.module.scss";

// ------------
// card-container and card
// ------------

.container {
  padding: 0.5rem;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.card {
  padding: 1.5rem;
  flex: 0 1 250px;
  padding-left: 1.2rem;
  border-radius: 10px;
  background-color: white;
}

@media (max-width: 1001px) {
  .card {
    flex: 1 1 250px;
  }
}

// ------------
// card items
// ------------

.heading {
  color: $primary-gray;
  font-size: 1.15em;
}

.number {
  font-size: 2em;
}
