@import "./variables.module.scss";

// ------------
// card-container and card
// ------------

.container {
  padding: 0.5rem;
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.card {
  padding: 1.5rem;
  flex: 1 1 250px;
  padding-left: 1.2rem;
  border-radius: 10px;
  background-color: white;
}

// ------------
// card items
// ------------

.heading {
  color: $primary-gray;
  font-size: 1.15em;
}

.number {
  font-size: 2em;
}

.description {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5em;
}

.icon {
  font-size: 18px;
  margin-top: 1px;
  align-self: center;
}

.status {
  color: $secondary-gray;
}
