@import "./variables.module.scss";

// ------------
// User, container
// ------------

.user__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.User {
  padding: 0.5em;
  width: 100%;
  max-width: 80rem;
}

.container {
  position: relative;
  background-color: white;
  margin: 0.5em;
  max-width: 80rem;
  border-radius: 10px;
}

// ------------
// Heading
// ------------

.heading {
  background-color: $primary-blue;
  border-radius: 10px 10px 0 0;
  color: white;
  padding: 1em;

  display: flex;
  align-items: center;
}

// ------------
// Heading title
// ------------

.heading__title {
  color: white;
  font-size: 1.2em;

  &::after {
    content: " Management";
    font-weight: 700;
  }
}

@media (max-width: 450px) {
  .heading__title {
    display: none;
  }
}

// ------------
// searchbar
// ------------

.searchbar {
  margin-left: auto;
  position: relative;
  display: flex;
  border-radius: 25px;
  overflow: hidden;
  background-color: $background-gray;
}

.search__button {
  order: 1;
  align-self: center;
  height: 40px;
  padding: 1em;
  padding-left: 1.5em;
  color: $primary-blue;
  border: none;
  background-color: $hover-blue;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;

  transition: color 250ms ease;

  & span {
    font-size: 1.4em;
  }

  &:focus {
    background-color: $hover-blue-2;
  }
  &:hover {
    color: white;
  }
}

// ------------
// searchbar-input
// ------------

.input {
  order: 2;
  background-color: $background-gray;
  height: 40px;

  border: none;
  padding-left: 1em;
  padding-bottom: 1px;
  outline: none;

  transition: box-shadow 250ms ease;
}

.input:focus + span {
  color: $secondary-gray;
}

// ------------
// Table
// ------------

.table__container {
  position: relative;
  border-radius: 0 0 10px 10px;
  background-color: white;
  padding: 0.5em;
  overflow: auto;
}

.table {
  width: 100%;

  tbody tr {
    transition: background-color 250ms ease;
  }

  tbody tr:hover {
    background-color: $hover-blue;
  }

  td {
    padding: 0.5em;
    text-align: center;
    border-bottom: 1px solid $secondary-gray-lighter;
  }

  .theading td {
    border-bottom: 2px solid $secondary-gray-light;
    font-weight: 700;
    padding: 1em;
  }
}

// ------------
// Action
// ------------

.action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

// ------------
// Action Buttons
// ------------

.delete {
  color: $primary-red;
}

.settings {
  color: $primary-blue;
}

@media (max-width: 875px) {
  .action {
    display: revert;
  }
  .delete {
    display: none;
  }
}

.settings,
.delete {
  padding: 0.5rem;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: transform 250ms ease;
  border: none;
  background-color: transparent;
}

.settings::before,
.delete::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $hover-background-2;
  border-radius: 50%;
  transform: scaleX(0) scaleY(0);
  transition: transform 150ms ease-in;
}

.settings:hover::before,
.delete:hover::before {
  transform: scaleX(1) scaleY(1);
}

// ------------
// Next Prev container
// ------------

.next__prev__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5em;
  padding: 1.5em;
}

// ------------
// Next, Prev Button
// ------------

.button {
  border: 2px solid $primary-blue;
  // position: relative;
  padding: 0.5em 1em;
  color: white;
  background-color: $primary-blue;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  transition: background-color 250ms ease, color 250ms ease, border 250ms ease;
}

.button:hover {
  background-color: white;
  color: $primary-blue;
}

.button:active {
  background-color: $primary-blue;
  color: white;
}

// ------------
// Disabled
// ------------

.disabled {
  cursor: not-allowed;
  opacity: 0.4;
}

.disabled:hover,
.disabled:focus,
.disabled:active {
  background-color: $primary-blue;
  color: white;
}

// ------------
// media queries
// ------------

@media (max-width: 600px) {
  .User {
    padding: 0;
    font-size: 0.8em;
  }
}
