// ------------
// primary colors
// ------------

$primary-gray: #5a5a5a;
$primary-blue: #019ec7;
$primary-orange: #ff9600;
$primary-green: #39dc00;
$primary-red: #ea3a3a;

$primary-card-gray: #8e8e8e;

// ------------
// secondary colors
// ------------

$secondary-gray: #9c9c9c;
$secondary-gray-light: rgb(216, 216, 216);
$secondary-gray-lighter: rgb(231, 231, 231);

// ------------
// background colors
// ------------

$background-main: #f5f7fb;
$background-gray: #f0f0f1;
$background-red: #ffdddd;

// ------------
// hover colors
// ------------

$hover-background: rgba(126, 126, 126, 0.1);
$hover-background-2: rgba(126, 126, 126, 0.2);
$hover-blue: rgba(1, 158, 199, 0.1);
$hover-blue-2: rgba(1, 158, 199, 0.2);
$hover-red: rgba(234, 58, 58, 0.1);
$hover-red-2: rgba(234, 58, 58, 0.2);
$hover-orange: rgba(255, 150, 0, 0.1);
