// ------------
// primary colors
// ------------

$primary-gray: #5a5a5a;
$primary-blue: #019ec7;
$primary-orange: #ff9600;
$primary-green: #39dc00;
$primary-red: #ea3a3a;

$primary-card-gray: #8e8e8e;
// ------------
// secondary colors
// ------------

$secondary-gray: #9c9c9c;

// ------------
// background colors
// ------------

$background-main: #f5f7fb;
$background-gray: #f0f0f1;
$background-red: #ffdddd;
// ------------
// hover colors
// ------------

$hover-background: rgba(126, 126, 126, 0.1);
$hover-blue: rgba(6, 160, 255, 0.1);
