*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: grid;
  grid-template-columns: auto minmax(400px, auto);
  grid-template-rows: 85px auto;
  grid-template-areas:
    "Sidebar Header"
    "Sidebar Main";
}
