.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 0 5em;
  width: 100%;
  font-size: 1.4em;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .container {
    display: none;
  }
}
