@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "./variables.module.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: $background-gray;
}

img {
  width: 90vw;
  max-width: 500px;
}

// ------------
// colors
// ------------

.green {
  color: $primary-green2;
}
.yellow {
  color: $primary-yellow;
}
.blue {
  color: $primary-blue;
}
.red {
  color: $primary-red;
}
.purple {
  color: $primary-purple;
}

@media (max-width: 600px) {
  img {
    align-self: center;
  }
}
