@import "./variables.module.scss";

// ------------
// container
// ------------

.container {
  background-color: $primary-green;
}

.list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;

  li {
    position: relative;
  }

  li::before {
    content: "|";
    color: white;
  }

  button {
    border: none;
    padding: 1em;
    font-size: 1.3em;
    font-weight: 700;
    background-color: transparent;
    color: white;
  }
}
