@import "./variables.module.scss";

// ------------
// containers
// ------------

.outer__container {
  position: relative;
  height: 6.5em;
  background-color: $background-light;
  display: flex;
}

.container {
  background-color: $primary-green;
  width: 100%;
  height: 70%;

  display: flex;
  align-items: center;
}

// ------------
// list
// ------------

.list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;

  li {
    position: relative;
    transition: text-decoration 250ms ease;
  }
  li:hover {
    text-decoration: underline;
  }

  // li:not(:first-child)::before {
  //   content: "|";
  //   color: white;
  //   position: absolute;
  //   top: 2px;
  //   left: -50%;
  //   align-self: center;
  // }

  a {
    text-decoration: none;
    border: none;
    font-size: 1.3em;
    font-weight: 700;
    background-color: transparent;
    color: white;
  }
}

// ------------
// list2
// ------------

.list2 {
  opacity: 0;
  pointer-events: none;
  height: 0px;

  transition: height 250ms ease;

  background-color: $background-light;
  list-style: none;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  width: 100%;

  li {
    position: relative;
    transition: transform 250ms ease;

    width: 100%;
    text-align: center;
  }

  li:not(:last-child) {
    border-bottom: 1px solid gray;
  }

  a {
    text-decoration: none;
    border: none;

    font-size: 1.3em;
    font-weight: 700;

    color: $primary-green;
    width: 100%;

    display: inline-block;
    padding: 0.3em 0;
  }
}

// ------------
// logo
// ------------

.logo {
  box-sizing: content-box;
  background-color: $background-light;
  // position: absolute;
  height: 6em;
  width: 6em;
  // left: 0;
  padding: 0em 2em 0.5em 2em;
}

// ------------
// menu
// ------------

.menu {
  display: none;

  margin-left: auto;
  margin-right: 2em;

  background-color: transparent;
  border: none;

  color: white;

  img {
    height: 28px;
    width: 28px;
    filter: invert(1);
  }
}

// ------------
// show
// ------------

.show {
  opacity: 1;
  height: 265px;
  pointer-events: all;
}

// ------------
// media query
// ------------

@media (max-width: 1024px) {
  .list {
    display: none;
  }
  .menu {
    display: inline-block;
  }
}

@media (min-width: 1025px) {
  .list2 {
    display: none;
  }
}
