@import "./variables.module.scss";

// ------------
// containers
// ------------

.outer__container {
  position: relative;
  height: 6.5em;
  background-color: $background-light;
  display: flex;
}

.container {
  background-color: $primary-green;
  width: 100%;
  height: 70%;
}

// ------------
// list
// ------------

.list {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  list-style: none;

  li {
    position: relative;
  }

  li:not(:first-child)::before {
    content: "|";
    color: white;
    position: absolute;
    top: 35%;
    left: -25%;
    position: absolute;
  }

  button {
    border: none;
    padding: 1em;
    font-size: 1.3em;
    font-weight: 700;
    background-color: transparent;
    color: white;
  }
}

.logo {
  box-sizing: content-box;
  background-color: $background-light;
  // position: absolute;
  height: 6em;
  // left: 0;
  padding: 0em 2em 0.5em 2em;
}
