@import "./variables.module.scss";

// ------------
// container
// ------------

.container {
  padding: 1.2em 15%;

  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 2em;

  p {
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}

// ------------
// title
// ------------

.title {
  color: $primary-green;
  font-size: 2.5em;
  align-self: center;
}

// ------------
// center
// ------------

.center {
  align-self: center;
  text-align: center;
}

// ------------
// img container
// ------------

.img__container {
  display: flex;

  img {
    height: 20em;
  }
}

// ------------
// heading
// ------------

.heading {
  font-weight: 700;
  font-size: 2em;
  align-self: flex-start;
  margin-bottom: 1em;
}

// ------------
// para1 container
// ------------

.para1__container {
  margin-top: 5em;
  display: flex;
  gap: 1em;
  align-items: flex-start;
}

// ------------
// space between
// ------------

.space__between {
  align-self: stretch;
  padding: 0.5em 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/// ------------
// how it works
// ------------

.howItWorks {
  padding-right: 1em;
  margin-top: 5em;
}
