@import "./variables.module.scss";

// ------------
// container
// ------------

.container {
  padding: 1.2em 15%;

  display: flex;
  justify-content: center;

  flex-direction: column;
  gap: 2em;

  p {
    font-size: 1.3em;
    margin-bottom: 1em;
  }
}

// ------------
// title
// ------------

.title {
  color: $primary-green;
  font-size: 2.5em;
  align-self: center;
}

// ------------
// center
// ------------

.center {
  align-self: center;
  text-align: center;
}

// ------------
// img container
// ------------

.img__container {
  overflow: hidden;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  img {
    height: 20em;
  }
}

// ------------
// heading
// ------------

.heading {
  font-weight: 700;
  font-size: 2em;
  align-self: flex-start;
  text-align: left;
  margin-bottom: 0.5em;
  margin-top: 2em;
}

// ------------
// para1 container
// ------------

.para1__container {
  display: flex;
  gap: 1em;
  align-items: flex-start;
}

// ------------
// space between
// ------------

.space__between {
  align-self: stretch;
  padding: 0.5em 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/// ------------
// how it works
// ------------

.howItWorks {
  max-width: 1200px;
  width: 90vw;
}

// ------------
// order
// ------------

.order1 {
  order: 2;
}

.order2 {
  order: 2;
}

// ------------
// how it works 2
// ------------

.howItWorks2 {
  display: none;
}

.table {
  td {
    margin: 0.5em 0;
  }
  text-align: left;
}

.circle {
  background-color: $primary-green;
  border-radius: 50%;
  $size: 50px;
  width: $size;
  height: $size;

  color: white;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-size: 1.15em;
  padding-left: 0.5em;
}

// ------------
// img13
// ------------

.img13 {
  max-width: 282px;
  max-height: 282px;
}

// ------------
// media
// ------------

@media (max-width: 1024px) {
  .container {
    font-size: 0.9em;
    padding: 2em;
    text-align: center;
  }
  .heading {
    margin-top: 2em;
  }
  .para1__container {
    flex-direction: column;
  }
  .order1 {
    order: 1;
  }
  .howItWorks {
    display: none;
  }
  .howItWorks2 {
    display: block;
  }
  .title {
    font-size: 2em;
    margin-top: 1em;
  }
  .out__story__button {
    margin-bottom: 2em;
  }
}

@media (max-width: 600px) {
  .container {
    font-size: 0.8em;
    padding: 0.5em;
  }
  .heading {
    text-align: center;
    align-self: center;
  }
}
