@import "./variables.module.scss";

.container {
  position: relative;
}

// ------------
// button
// ------------

.button {
  // margin: 1em 0;
  // outline: none;
  // padding: 0;
  // align-self: flex-end;
  // color: $primary-blue;
  // background: none;
  // border: none;
  // position: relative;
  // font-size: 1em;
  // font-family: inherit;
  color: $primary-green;
  font-size: 2em;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  position: relative;
}

.button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  // ------------
  background-color: $primary-green;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

// ------------
// arrow
// ------------

.arrow:after,
.arrow:before {
  content: "";
  position: absolute;
  left: 28.2em;
  bottom: 0;
  width: 0.12rem;
  height: 65%;
  background-color: $primary-green;
  transition: transform 500ms ease;
}

.arrow:before {
  top: 0px;
  // height: 64%;
  transform: rotate(120deg);
}

.arrow:after {
  top: 12px;
  transform: rotate(-120deg);
}

// ------------
// open arrow
// ------------

.arrow:hover::before {
  // left: 5px;
  transform: rotate(-60deg);
}
.arrow:hover::after {
  // left: -5px;
  transform: rotate(60deg);
}
