// ------------
// primary colors
// ------------

$primary-green: #019ec7;
$primary-green2: #00b050;
$primary-yellow: #ffc000;
$primary-blue: #0070c0;
$primary-red: #f03f2b;
$primary-purple: #7030a0;

$primary-gray-3: #333333;
$primary-gray-6: #666666;
$primary-gray-9: #999999;

// ------------
// background colors
// ------------

$background-light: #f5f6f4;
$background-gray: #d9d9d9;

$input-background: #bdbdbd;

$cover-background: rgb(0, 0, 0, 0.1);
