// ------------
// primary colors
// ------------

$primary-green: #57903f;
$primary-green2: #00b050;
$primary-yellow: #ffc000;
$primary-blue: #0070c0;
$primary-red: #f03f2b;
$primary-purple: #7030a0;

// ------------
// background colors
// ------------

$background-light: #f5f6f4;
$background-gray: #d9d9d9;
